.gallery-header {
  border-top: 1px solid #ffffff6e;
  border-bottom: 1px solid #ffffff6e;
  padding-block: 2rem;
}

.subgallery {
  margin-bottom: 2rem;
}

.subgallery:last-child {
  margin-bottom: 4rem;
}

.subgallery__heading {
  text-transform: capitalize;
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
}

.subgallery__heading a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 1rem #fff;
}
