.carousel {
  max-height: 100%;
  overflow-y: hidden;
}

.carousel-item {
  height: calc(100vh - 58px);
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0.75);
}
