.cart {
  margin-bottom: 8rem;
}

.empty-cart {
  height: 100%;
}

.item-row {
  height: 5rem;
}

.cart-img {
  max-width: 10rem;
}

.cart-trash-icon {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}

.cart-trash-icon:hover {
  cursor: pointer;
  color: #ffffffc9;
}

.cart__total-table,
.cart__button-container {
  max-width: 25rem;
}

.cart__button-container {
  display: flex;
  padding: 0;
  gap: 1rem;
}

.cart__button-container > * {
  flex-grow: 1;
}

.cart__button-container a button {
  width: 100%;
}
