/* Navbar */

.nav-logo {
  background-image: url(../../../public/assets/homePics/logoBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f8f9fa;
  font-size: 2rem;
}
