.filter-category {
  min-height: 50px;
  display: flex;
  align-items: center;
  border-top: 1px solid #484241;
  border-bottom: 1px solid #484241;
}

.filter-category h4 {
  margin-bottom: 0;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.filters-button {
  color: #fff;
  background-color: transparent;
  border: none;
}

.filters-button:hover {
  color: #ffffff96;
}
