.gallery-row {
  width: 100%;
  max-height: 12rem;
  margin-bottom: 2rem;
}

.gallery-row:nth-child(even) {
  justify-content: end;
}

.gallery-img-container {
  max-width: 80%;
  overflow: hidden;

  position: relative;
  isolation: isolate;
}

.gallery-img-container a {
  color: #fff;
}

.galleries-img {
  width: 120%;
  position: absolute;
}

.hover-box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66241a9f;

  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.hover-box p {
  font-size: 3rem;
}

.gallery-row:hover .hover-box {
  transform: translateY(0%);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: end;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.gallery-row:nth-child(even) .icon-container {
  transform: translateX(100%);
}

.gallery-row:nth-child(odd) .icon-container {
  transform: translateX(-100%);
}

.gallery-icon {
  font-size: 10rem;
  color: #66241a;
}

.gallery-row:hover .icon-container {
  transform: translateX(-20%);
  animation: 2s infinite bounce;
  animation-delay: 0.5s;
}

@keyframes bounce {
  from {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-20%);
  }
}

.gal-img__1 {
  top: -50%;
  transform: translateY(-50%);
}

.gal-img__2 {
  top: -20%;
  transform: translateY(-40%);
}

.gal-img__3 {
  top: -20%;
  transform: translateY(-20%);
}

.gal-img__4 {
  top: 50%;
  transform: translateY(-50%);
}

.gal-img__5 {
  top: 100%;
  transform: translateY(-35%);
}
