.shop__sale-row {
  min-height: 15rem;
  background-image: linear-gradient(#0a0201a6, #0a0201a6),
    url(/public/assets/homeShop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top 30%;
  margin-bottom: 3rem;
}

.shop__sales-text {
  font-size: 2rem;
  max-width: 75%;
  margin-inline: auto;
}

.card-row {
  justify-content: space-between;
}

.card-row .featured-card {
  padding: 0;
}

.featured-card {
  opacity: 0;
  transform: translateX(-150%);
  transition: all 0.8s ease-in-out;
}

.featured-card:nth-child(2) {
  transition-delay: 0.2s;
}

.featured-card:nth-child(3) {
  transition-delay: 0.4s;
}

.slideRight {
  opacity: 1;
  transform: translateX(0%);
}

.shop__sales-button-link {
  text-decoration: none;
}
