.piece-section {
  background-image: url(/public/assets/herobg.jpg);
  margin-bottom: 73px;
  flex-grow: 1;

  display: flex;
  align-items: center;
}

.piece-img {
  box-shadow: 0.4rem 0.4rem 0.2rem #b8b6973b;
}
