@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Rubik:wght@300;400;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Caveat", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a0201;
  color: #fff;
}

section {
  max-width: 1400px;
  margin: auto;
}

section,
header {
  margin-bottom: 8rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

.section-header {
  text-shadow: 0 0 1rem #fff;
  position: relative;
  display: flex;
  align-items: center;
}

.section-header::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: #66241a;
  border-radius: 50vw;
  margin-right: 1rem;
}

/* Studio */

.studio-header {
  background-image: url(../public/assets/misc/quotebg3.jpg);
  background-position: center;

  padding-block: 5rem;
}

.studio-header__quote {
  font-size: 1.5rem;
  color: #f8f9fa;
}
