@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Caveat", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/assets/herobg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section,
header {
  margin-bottom: 8rem;
}

/* Studio */

.studio-header {
  background-image: url(../public/assets/misc/quotebg3.jpg);
  background-position: center;

  padding-block: 5rem;
}

.studio-header__quote {
  font-size: 1.5rem;
  color: #f8f9fa;
}
